<!DOCTYPE html>
<html lang="en">
    <head><title>Let's play a game</title></head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <p>If you don't know the rules, go <a href="https://en.wikipedia.org/wiki/Jeopardy!">here</a>!</p>

    <h3>Current Score = {{current_score}}</h3>

    <br><br>
    <p>{{question}}</p>

    <form method='post'>
        <label>
            Guess the answer:
            <input type="text" name='answer' value='{{answer}}' />
        </label>
        <input type='submit' value='Guess!' />
    </form>
</body>
</html>